<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="login-body">
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <div class="login-div">
        <h1 class="login-h1">Registracija</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %} <!-- apsauga nuo csrf ataku-->
            <table class="login-namemail">
                <tr>
                    <td><label for="username">Vartotojo vardas</label></td>
                    <td><input name="username" type="text" class="form-control" id="username" aria-describedby="usernameHelp"></td>
                </tr>
                <tr>
                    <td><label for="exampleInputEmail">El. pastas</label></td>
                    <td><input name="email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"></td>
                </tr>
                <tr>
                    <td><label for="password">Slaptažodis</label></td>
                    <td><input name="password" type="password" class="form-control" id="password" aria-describedby="pwdHelp"></td>
                </tr>
                <tr>
                    <td><label for="password2">Pakartoti slaptažodį</label></td>
                    <td><input name="password2"
                        type="password"
                        class="form-control"
                        id="password2"
                        aria-describedby="pwd2Help"></td>
                </tr>
            </table>
            <button type="submit" class="login-submit">Registruotis</button>
        </form>
        <p>Jau užsiresitravę? <a href="http://127.0.0.1:8000/accounts/login" class="login-redirect">Prisijunkti</a></p>
        <!-- <p>Jau užsiresitravę<a href=><strong>Prisijunkti</strong></a></p> -->
    </div>

